{% extends "index.html" %}
{% block content %}

<!-- <div class="break"></div> -->
<div class="intro">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem voluptates sit optio corrupti ducimus veritatis ut
    alias dolorum? Dolorem fuga ea ipsam? Ad esse sit dicta commodi dolores expedita unde!Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Dolorem voluptates sit optio corrupti ducimus veritatis ut
    alias dolorum? Dolorem fuga ea ipsam? Ad esse sit dicta commodi dolores expedita unde! Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Dolorem voluptates sit optio corrupti ducimus veritatis ut
    alias dolorum? Dolorem fuga ea ipsam? Ad esse sit dicta commodi dolores expedita unde! Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Dolorem voluptates sit optio corrupti ducimus veritatis ut
    alias dolorum? Dolorem fuga ea ipsam? Ad esse sit dicta commodi dolores expedita unde! Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Dolorem voluptates sit optio corrupti ducimus veritatis ut
    alias dolorum? Dolorem fuga ea ipsam? Ad esse sit dicta commodi dolores expedita unde! Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Dolorem voluptates sit optio corrupti ducimus veritatis ut
    alias dolorum? Dolorem fuga ea ipsam? Ad esse sit dicta commodi dolores expedita unde! Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Dolorem voluptates sit optio corrupti ducimus veritatis ut
    alias dolorum? Dolorem fuga ea ipsam? Ad esse sit dicta commodi dolores expedita unde!
</div>



<div>About</div>
<div>Projects</div>

<div>Contact</div>
<div class="push"></div>

{% endblock %}