<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename = 'styles/styles.css')}}" rel="stylesheet">
        <title>{{title}}</title>
        <link rel="icon" type="image/png" href="/static/icons/icon.png">
</head>

<body>
        <div class="topcontainer">
                <div class="bimg"></div>
                <!-- <img src="../static/img/IMG_2661.jpg" alt="Pigeons" style="width:100%;"> -->
                <nav class="navbar">
                        <div class="n"><a href="{{ url_for('home') }}">HOME</a></div>
                        <div class="n"><a href="{{ url_for('projects') }}">PROJECTS</a></div>
                        <div class="name">
                                <a href="{{ url_for('home') }}">GAURAV SHILPAKAR</a>
                        </div>
                        <div class="n"><a href="{{ url_for('resume') }}">RESUME</a></div>
                        <div class="n"><a href="{{ url_for('contact') }}">CONTACT</a></div>
                </nav>

                <h1 class="title">GAURAV SHILPAKAR</h1>


                <div class="topfooter">
                        <span class="bottomline"></span>
                        <div class="socials">


                                <a href="https://www.facebook.com/gauravshilpakar"><img class="s"
                                                src="\static\icons\iconfinder_Circled_Facebook_svg_5279111.png"
                                                alt="Facebook"></a>
                                <a href="https://www.instagram.com/gaurav.shilpakar/"><img class="s"
                                                src="\static\icons\iconfinder_Circled_Instagram_svg_5279112.png"
                                                alt="Instagram"></a>
                                <a href="https://www.linkedin.com/in/gauravshilpakar/"><img class="s"
                                                src="\static\icons\linkedin.png" alt="LinkedIn"></a>
                                <a href="https://www.youtube.com/gauravshilpakar"><img class="s"
                                                src="\static\icons\iconfinder_Circled_Youtube_svg_5279120.png"
                                                alt="YouTube"></a>
                                <a href="https://github.com/gauravshilpakar"><img class="s"
                                                src="\static\icons\github-image.png" alt="GitHub"></a>
                        </div>

                </div>

        </div>


        {% block content %}
        {% endblock %}
        <div class="footer">
                <span class="bottomline"></span>
                <div class="socials">


                        <a href="https://www.facebook.com/gauravshilpakar"><img class="s"
                                        src="\static\icons\iconfinder_Circled_Facebook_svg_5279111.png"
                                        alt="Facebook"></a>
                        <a href="https://www.instagram.com/gaurav.shilpakar/"><img class="s"
                                        src="\static\icons\iconfinder_Circled_Instagram_svg_5279112.png"
                                        alt="Instagram"></a>
                        <a href="https://www.linkedin.com/in/gauravshilpakar/"><img class="s"
                                        src="\static\icons\linkedin.png" alt="LinkedIn"></a>
                        <a href="https://www.youtube.com/gauravshilpakar"><img class="s"
                                        src="\static\icons\iconfinder_Circled_Youtube_svg_5279120.png"
                                        alt="YouTube"></a>
                        <a href="https://github.com/gauravshilpakar"><img class="s" src="\static\icons\github-image.png"
                                        alt="GitHub"></a>
                </div>

        </div>

</body>

</html>